* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5EFE1;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn::before,
.btn {
    border: 1px solid #e2d0a8;
    border-radius: 8px;
    cursor: pointer;
    min-width: 200px;
    min-height: 60px;
}

.btn {
    background: #efe5ce;
    color: #7b6229;
    font-size: 18px;
    letter-spacing: 0.5px;
    position: relative;
    transform: skewX(20deg);
}

.btn::before {
    content: "Click Me";
    background: #F5EFE1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: -1;
    transition: all 0.5s ease;
}

.btn:hover::before {
    top: -1px;
    left: -1px;
}